body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

header {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
}

.sidebar-left, .sidebar-right {
    width: 20%;
    background-color: #E4E4E1;
 background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
    padding: 15px;
}

main {
    width: 60%;
    padding: 15px;
}

.float-img {
    float:left;
    margin: 0 10px 10px 15px;
    width: 400px;
    height: 300px;
}

footer {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
